:root {
  --bg: #ffffff;
  --text: #000000;
}
.dark-theme{
  --bg: #121212;
  --text: #ffffff;
}
body{
  background-color: var(--bg);
  color: var(--text);
  font-family: Ariel, sans-serif;
  padding:20px;
}
.pedra-card{
  border: 1px solid var(--text);
  padding: 10px:;
  margin: 10px 0;
  border-radius: 8px;
}  
